.footer {
    background-color: #4CAF50;
    padding: 20px 0;
    color: #ecf0f1;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links {
    margin-bottom: 10px;
}

.social-links a {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.2);
}

.social-links img {
    width: 24px;
    height: 24px;
}

.copyright {
    font-size: 14px;
    margin: 0;
}