/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    /* Green background for environmental theme */
    padding: 10px;
}

.navbar-logo img {
width: 100px;    margin-right: 20px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    /* White text for contrast */
    font-weight: bold;
}

.navbar-links a:hover {
    text-decoration: underline;
}